.App {
  text-align: center;
}

/* .cues-list {
  text-align: center;
} */
.auth {
  color: white;
}


.header {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  margin: 3rem;
  padding: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 2rem;
  background-color: antiquewhite;

}

.App-link {
  color: #61dafb;
}



.cue {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  border-radius: 8px;
  margin: 3rem;
}

.App {
  background-color: black;
}

.create-cue {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5rem;
  margin: 1rem;
  justify-content: center;


}
